/*----------------------- Адаптація для планшетів------------------------- */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .input-group select {
        height: 250px;
    }

    .button-group {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    button {
        font-size: 12px;
        padding: 5px 8px;
    }
}

/*----------------------- Адаптація для мобільних пристроїв---------------------- */
@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    .title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .row {
        flex-direction: column;
        align-items: stretch;
    }

    .input-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .input-group select {
        height: 200px;
    }

    .button-group {
        flex-direction: column;
        align-items: stretch;
    }

    button {
        font-size: 12px;
        padding: 5px;
    }
}